<app-hobby></app-hobby>

<div class="partInfo">

    <!-- <app-resume [name]="name" [surname]="surname" [lastname]="lastname" -->
    <!-- [phone]="phone" [email]="email" [city]="city"></app-resume> -->

    <app-user></app-user>
    <hr/>
    <app-my-work></app-my-work>
    <hr/>
    <app-my-knowledge></app-my-knowledge>
    <hr/>

    <p style="text-align: center; margin-top: 100px;">Я</p>
    <p style="text-align: center;">
        <img src="../assets/images/Я.jpg" alt="Моя фотография">
    </p>
    <hr/>

    

    <app-my-links></app-my-links>



    <!-- <div style="text-align: center; margin-top: 100px;"> Ссылки
        <p><a href="https://github.com/ForsakenAnton">GitHub</a></p>
        <p><a href="#">Свитер</a></p>
        <p><a href="#">LinkedIn</a></p>
    </div> -->

</div>