

<!-- <div class="partInfo"> -->
    <div class="resume">
            <h2>Мое резюме</h2>
            <dl>
                <dt>Имя</dt>
                <dd>{{userItem.name}}</dd>
                <dt>Фамилия</dt>
                <dd>{{userItem.lastname}}</dd>
                <dt>Отчество</dt>
                <dd>{{userItem.surname}}</dd>
                <dt>Телефон</dt>
                <dd>{{userItem.phone}}</dd>
                <dt>Эл. почта</dt>
                <dd>{{userItem.email}}</dd>
                <dt>Город</dt>
                <dd>{{userItem.city}}</dd>
            </dl>
    </div>
<!-- </div> -->